[data-calendar] {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    padding: 0 15%;
    display: flex;
    align-items: center;
    justify-content: center;
}

[data-calendar] * {
    box-sizing: border-box;
}

[data-calendar] > div {
    background: #bb1a1a;
    height: 80vh;
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 89px 25px 25px;
    box-sizing: border-box;
    border-radius: 25px;
    overflow: auto;
}

[data-calendar] > div > .branding {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    color: rgba(255, 255, 255, 0.5);
    font-family: "Arial";
    z-index: 0;
}

[data-calendar] > div > .branding > img {
    height: 64px;
}

[data-calendar] > div > [data-close] {
    position: absolute;
    top: 15px;
    right: 15px;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
    z-index: 1;
}

[data-calendar] > div > [data-door] {
    position: relative;
    background: #e21c1c;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 16px 40px rgba(0,0,0,0.12);
    border-radius: 3px;
    padding: 15px;
    font-size: 20px;
    width: 23%;
    margin-bottom: 20px;
}

[data-calendar] > div > [data-door].opened {
    position: fixed;
    top: 5%;
    left: 5%;
    right: 5%;
    bottom: 5%;
    width: 90%;
    background: #fff;
    z-index: 15;
    padding: 25px;
    color: #000;
    border-radius: 25px;
}

[data-calendar] > div > [data-door].opened > [data-close] {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
    font-size: 24px;
}

[data-calendar] > div > [data-door]::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    background: #fff;
    width: 0;
    color: #000;
    transition: 300ms;
}

[data-calendar] > div > [data-door].opened::after {
    transition: 0ms;
}

[data-calendar] > div > [data-door][data-available]:not(.opened):hover::after {
    content: "Aufmachen";
    width: 100%;
    transform: skew(0deg, 2deg) translateY(0px);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.snowflake {
    width: 7px;
    height: 7px;
    background: #fff;
    border-radius: 50%;
}

@-webkit-keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}@-webkit-keyframes snowflakes-shake{0%,100%{-webkit-transform:translateX(0);transform:translateX(0)}50%{-webkit-transform:translateX(80px);transform:translateX(80px)}}@keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}@keyframes snowflakes-shake{0%,100%{transform:translateX(0)}50%{transform:translateX(80px)}}.snowflake{position:fixed;top:-10%;z-index:9999;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;cursor:default;-webkit-animation-name:snowflakes-fall,snowflakes-shake;-webkit-animation-duration:10s,3s;-webkit-animation-timing-function:linear,ease-in-out;-webkit-animation-iteration-count:infinite,infinite;-webkit-animation-play-state:running,running;animation-name:snowflakes-fall,snowflakes-shake;animation-duration:10s,3s;animation-timing-function:linear,ease-in-out;animation-iteration-count:infinite,infinite;animation-play-state:running,running}.snowflake:nth-of-type(0){left:1%;-webkit-animation-delay:0s,0s;animation-delay:0s,0s}.snowflake:nth-of-type(1){left:10%;-webkit-animation-delay:1s,1s;animation-delay:1s,1s}.snowflake:nth-of-type(2){left:20%;-webkit-animation-delay:6s,.5s;animation-delay:6s,.5s}.snowflake:nth-of-type(3){left:30%;-webkit-animation-delay:4s,2s;animation-delay:4s,2s}.snowflake:nth-of-type(4){left:40%;-webkit-animation-delay:2s,2s;animation-delay:2s,2s}.snowflake:nth-of-type(5){left:50%;-webkit-animation-delay:8s,3s;animation-delay:8s,3s}.snowflake:nth-of-type(6){left:60%;-webkit-animation-delay:6s,2s;animation-delay:6s,2s}.snowflake:nth-of-type(7){left:70%;-webkit-animation-delay:2.5s,1s;animation-delay:2.5s,1s}.snowflake:nth-of-type(8){left:80%;-webkit-animation-delay:1s,0s;animation-delay:1s,0s}.snowflake:nth-of-type(9){left:90%;-webkit-animation-delay:3s,1.5s;animation-delay:3s,1.5s}.snowflake:nth-of-type(10){left:25%;-webkit-animation-delay:2s,0s;animation-delay:2s,0s}.snowflake:nth-of-type(11){left:65%;-webkit-animation-delay:4s,2.5s;animation-delay:4s,2.5s}

@media (max-width: 1000px) {
    [data-calendar] > div > [data-door] {
        width: 31%;
    }
}

@media (max-width: 700px) {
    [data-calendar] > div > [data-door] {
        width: 48%;
    }
}

@media (max-width: 500px) {
    [data-calendar] {
        padding: 0 5%;
    }

    [data-calendar] > div {
        height: 90%;
    }

    [data-calendar] > div > [data-door].opened {
        height: 90%;
    }
}